@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 5px #00000074;
}
header .container{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item{
    width: max-content;
    height: 150px;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 450px 75px;
    grid-template-areas: 'img title rating' 'img desc desc' 'img price btn';
}
.item img{
    grid-area: img;
    width: 150px;
    height: 150px;
}
.title_item{
    grid-area: title;
}
.rating{
    grid-area: rating;
}
.desc{
    grid-area: desc;
}
.item a{
    grid-area: btn;
}
.price{
    grid-area: price;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.add label{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.add input[type=submit]{
    width: max-content;
    height: 100%;
    padding: 10px 25px;
    margin-top: 10px;
    background: #1a94d5;
    border: none;
    border-radius: 15px;
}
.card_item{
    width: 900px;
    display: grid;
    grid-template-areas: 'img title price' 'img desc del';
}
.card_item img{
    grid-area: img;
    width: 150px;
    height: 150px;
}
.card_title{
    grid-area: title;
}
.card_desc{
    grid-area: desc;
}
.card_price{
    grid-area: price;
}
.card_item form{
    grid-area: del;
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-direction: column;
}
.reg{
    width: 500px;
    background: #fff;
    border-top-right-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    display: block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 260px 600px;
    height: 475px;
}
.sign{
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 500px;
    top: 0;
    left: 0;
    background-color: #57b846;
    padding-top: 50px;
    padding-bottom: 39px;
    align-items: center;
    margin: 150px 600px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}
.sgn input{
    position: relative;
    display: block;
    border-radius: 27px;
    margin-bottom: 2px;
    height: 35px;
    width: 300px;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    background: #ebebeb;
    outline: none;
    border: none;
    padding: 0 35px 0 35px;
    margin-left: 100px;
    top: 30px;
}
.sgn input:hover{
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
}
.btn-reg input{
    background: #57b846;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
.btn-reg input:hover {
    background-color: #1b3815;
}